* {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: auto;
    width: 500px;
}

ul {
    list-style-type: none;
}

.home {
    font-size: 60px;
}

.home-ul {
    font-size: 30px;
    margin: 50px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
    font-style: italic;
}

.inline {
    display: inline;
}

li {
    text-align: center;
}